<div class="card text-center">
	<div class="card-header">
		Add New Language
	</div>
	<div class="card-body">
		<form>
			<div class="form-group">
				<label for="lname">Language Name</label>
				<input type="email" [(ngModel)]="idioma.nombre" name="name" class="form-control" id="lname" aria-describedby="lnameSmall" placeholder="Enter Language Name">
				<small id="lnameSmall" class="form-text text-muted">The Language name represent the Category in Naive Bayes Classifier</small>
			</div>	 
			<button type="submit" (click)="tryAddNewIdioma()" class="btn btn-primary">Add new</button>
		</form>
	</div>	
</div>